.tit{
    margin: 60px auto;
    text-align: center;
    color: black;
}
body{
    background-color: #D0D3D4;
}
header{
    background-color: #B3B6B7;
}

.contenedor-flex{
    display:inline-flex;
    flex-direction:row;
    flex-wrap:wrap;
    width: 300px;
    height: 350px;
}

.contenedor{
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
    justify-content: space-evenly;
}

